# Swiss road accidents 2011 - 2015

Data source: [Federal Roads Office (FEDRO)](http://www.astra.admin.ch/?lang=en)

Analysing every road accident in Switzerland from 2011 to 2015 using Pandas.

In [18]:
import pandas as pd

Importing files on accidents, .csv Files, organised by year

In [19]:
unfaelle2011 = pd.read_csv("Export_1_Unfallblatt_2011.csv", delimiter = ";", encoding = "latin-1")
unfaelle2012 = pd.read_csv("Export_1_Unfallblatt_2012.csv", delimiter = ";", encoding = "latin-1")
unfaelle2013 = pd.read_csv("Export_1_Unfallblatt_2013.csv", delimiter = ";", encoding = "latin-1")
unfaelle2014 = pd.read_csv("Export_1_Unfallblatt_2014.csv", delimiter = ";", encoding = "latin-1")
unfaelle2015 = pd.read_csv("Export_1_Unfallblatt_2015.csv", delimiter = "\t", encoding = "UTF-8")

Importing files on people involved in accidents, .csv Files, organised by year

In [20]:
personen2011 = pd.read_csv("Export_3_Personenblatt_2011.csv", delimiter = ";", encoding = "latin-1")
personen2012 = pd.read_csv("Export_3_Personenblatt_2012.csv", delimiter = ";", encoding = "latin-1")
personen2013 = pd.read_csv("Export_3_Personenblatt_2013.csv", delimiter = ";", encoding = "latin-1")
personen2014 = pd.read_csv("Export_3_Personenblatt_2014.csv", delimiter = ";", encoding = "latin-1")
personen2015 = pd.read_csv("Export_3_Personenblatt_2015.csv", delimiter = "\t", encoding = "UTF-8")

Importing files on vehicles involved in accidents, .csv Files, organised by year

In [21]:
fahrzeuge2011 = pd.read_csv("Export_2_Objektblatt_2011.csv", delimiter = ";", encoding = "latin-1")
fahrzeuge2012 = pd.read_csv("Export_2_Objektblatt_2012.csv", delimiter = ";", encoding = "latin-1")
fahrzeuge2013 = pd.read_csv("Export_2_Objektblatt_2013.csv", delimiter = ";", encoding = "latin-1")
fahrzeuge2014 = pd.read_csv("Export_2_Objektblatt_2014.csv", delimiter = ";", encoding = "latin-1")
fahrzeuge2015 = pd.read_csv("Export_2_Objektblatt_2015.csv", delimiter = "\t", encoding = "UTF-8")

Concatenating the files

In [22]:
df_unfaelle = pd.concat([unfaelle2011, unfaelle2012, unfaelle2013, unfaelle2014, unfaelle2015], ignore_index=True)
df_personen = pd.concat([personen2011, personen2012, personen2013, personen2014, personen2015], ignore_index=True)
df_fahrzeuge = pd.concat([fahrzeuge2011, fahrzeuge2012, fahrzeuge2013, fahrzeuge2014, fahrzeuge2015], ignore_index=True)

In [23]:
unfaelle.columns

Index(['Aktuelle BFS Gemeinde-Nr', 'Bahnübergang UAP',
       'Bahnübergang Zusatz UAP', 'Datum', 'Getötete', 'Hauptursache UAP',
       'Höchstgeschwindigkeit', 'Höchstgeschwindigkeit Zusatz UAP',
       'Innerorts / Ausserorts UAP', 'Jahr', 'Kanton Kürzel',
       'Leichtverletzte', 'Lichtverhältnis UAP', 'Schwerverletzte',
       'Sicht UAP', 'Strassenanlage UAP', 'Strassenanlage Zusatz UAP',
       'Strassenart UAP', 'Strassenart Zusatz UAP', 'Strassenbeleuchtung UAP',
       'Strassenkategorie', 'Strassenzustand UAP',
       'Strassenzustand Zusatz UAP', 'Total Objekte', 'Total Personen',
       'Total geschätzter Sachschaden (in 1000 CHF)', 'Unfall-UID',
       'Unfallstelle UAP', 'Unfallstelle Zusatz UAP', 'Unfalltyp UAP',
       'Unfallzeit', 'Verkehrsbedingungen UAP', 'Verkehrsregelung UAP',
       'Verkehrsregelung Zusatz UAP', 'Vortrittsregelung UAP', 'Witterung UAP',
       'Witterung Zusatz UAP', 'Wochentag-Nr', 'Zonensignalisation UAP',
       'unverletzte Personen', 'x-Koordinate', 'y-Koordinate'],
      dtype='object')

In [24]:
df_personen.columns

Index(['Jahr', 'Datum', 'Unfall-UID', 'Objekt-UID', 'Objekt-Nr', 'Person-UID',
       'Person-Nr', 'Geschlecht UAP', 'Alter', 'Führerausweisalter',
       'Personenart UAP', 'Personenart Zusatz UAP', 'Unfallfolgen UAP',
       'Schutzsystem UAP', 'Schutzsystem Zusatz UAP'],
      dtype='object')

In [25]:
df_fahrzeuge.columns
#contains the "Hauptverursacher UAP" (ja/nein) category

Index(['Abblend-/Tagfahrlicht UAP', 'Ablenkung UAP',
       'Angabe Führerausweis UAP', 'Angabe Führerausweis Zusatz UAP',
       'Angaben Fahrzeug UAP', 'Anhänger / Auflieger UAP', 'Anprall UAP',
       'Atemtest', 'BUM Probe angeordnet UAP',
       'BUM Probe angeordnet Zusatz UAP',
       'Bauartbedingte Höchstgeschwindigkeit UAP', 'Blutalkoholtest',
       'Blutprobe Alkohol angeordnet UAP',
       'Blutprobe Alkohol angeordnet Zusatz UAP', 'Datum',
       'Eigentumsverhältnis UAP', 'Fahrzeugart UAP', 'Fahrzeugart Zusatz UAP',
       'Fahrzweck UAP', 'Führerausweis Kategorie', 'Führerausweis Land UAP',
       'Führerausweis seit', 'Getötete', 'Hauptverursacher UAP', 'Jahr',
       'Kennzeichen Fahrzeug Kanton', 'Kennzeichen Fahrzeug Land UAP',
       'Kennzeichenart UAP', 'Leichtverletzte', 'Lenker UAP',
       'Meldepflicht UAP', 'Objekt-Kategorie UAP', 'Objekt-Nr', 'Objekt-UID',
       'Schwerverletzte', 'Total Personen', 'Unfall-UID', 'Ursache 1 UAP',
       'Ursache 2 UAP', 'Ursache 3 UAP', 'Verdacht Alkohol UAP',
       'Verdacht Betäubungsmittel UAP', 'Verdacht Betäubungsmittel Zusatz UAP',
       'Verdacht Betääubungsmittel Zusatz UAP',
       'Verdacht auf Arzneimittel UAP', 'Verdacht auf Arzneimittel Zusatz UAP',
       'Vertrautheit Strecke UAP', 'unverletzte Personen'],
      dtype='object')

In [26]:
df_unfaelle['Wochentag-Nr'].value_counts()

5    43687
4    39969
3    39209
2    38617
6    38540
1    37634
7    28827
Name: Wochentag-Nr, dtype: int64

In [27]:
#personen['Alter'].mean()

In [28]:
df_personen['Schutzsystem UAP'].value_counts()

981    412883
983     51672
980     48651
982     37686
Name: Schutzsystem UAP, dtype: int64

In [29]:
df_personen.groupby(['Jahr'])['Schutzsystem UAP'].value_counts()

Jahr  Schutzsystem UAP
2011  981                 84416
      983                 11263
      980                  9575
      982                  7986
2012  981                 84843
      983                 10521
      980                  9864
      982                  7370
2013  981                 82383
      983                 10311
      980                  9573
      982                  6951
2014  981                 79540
      980                  9797
      983                  9421
      982                  7628
2015  981                 81701
      983                 10156
      980                  9842
      982                  7751
Name: Schutzsystem UAP, dtype: int64

In [30]:
x = df_personen.groupby(['Jahr'])['Schutzsystem UAP'].value_counts()

In [31]:
pd.DataFrame(x)

                       Schutzsystem UAP
Jahr Schutzsystem UAP
2011 981                          84416
     983                          11263
     980                           9575
     982                           7986
2012 981                          84843
     983                          10521
     980                           9864
     982                           7370
2013 981                          82383
     983                          10311
     980                           9573
     982                           6951
2014 981                          79540
     980                           9797
     983                           9421
     982                           7628
2015 981                          81701
     983                          10156
     980                           9842
     982                           7751

In [32]:
x = unfaelle['Wochentag-Nr'].value_counts()

In [33]:
pd.DataFrame(x)

   Wochentag-Nr
5         43687
4         39969
3         39209
2         38617
6         38540
1         37634
7         28827

In [34]:
type(x)

pandas.core.series.Series

In [36]:
df_personen['Alter'].describe()

count        550892
unique          106
top       unbekannt
freq          31518
Name: Alter, dtype: object

In [39]:
df_personen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550892 entries, 0 to 550891
Data columns (total 15 columns):
Jahr                       550892 non-null int64
Datum                      550892 non-null object
Unfall-UID                 550892 non-null object
Objekt-UID                 550892 non-null object
Objekt-Nr                  550892 non-null object
Person-UID                 550892 non-null object
Person-Nr                  550892 non-null int64
Geschlecht UAP             550892 non-null int64
Alter                      550892 non-null object
Führerausweisalter         550892 non-null object
Personenart UAP            550892 non-null int64
Personenart Zusatz UAP     229669 non-null object
Unfallfolgen UAP           550892 non-null int64
Schutzsystem UAP           550892 non-null int64
Schutzsystem Zusatz UAP    28730 non-null object
dtypes: int64(6), object(9)
memory usage: 63.0+ MB

NameError: name 'money_players' is not defined