# Exploring the H-2B Visa Programme

H-2B visas are nonimmigrant visas, which allow foreign nationals to enter the U.S. temporarily and engage in nonagricultural employment which is seasonal, intermittent, a peak load need, or a one-time occurrence.

**Summary** It turns out that Texas has the highest need for foreign unskilled employees. However, it is a Salmon farm  in Alaska that has requested the most and only offering them a wage of 10$ an hour.

In [296]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [297]:
df = pd.read_excel("H-2B_Disclosure_Data_FY15_Q4.xlsx")

In [298]:
df.head()

,CASE_NUMBER,DECISION_DATE,VISA_CLASS,NPC_SUBMITTED_DATE,CASE_STATUS,CERTIFICATION_BEGIN_DATE,CERTIFICATION_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,...,NAME_REQD_TRAINING,EMP_EXPERIENCE_REQD,EMP_EXP_NUM_MONTHS,WORKSITE_CITY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,OTHER_WORKSITE_LOCATION,SWA_NAME,JOB_IDNUMBER,JOB_START_DATE
0,H-400-13270-851270,2014-12-22,H-2B,2014-12-08,Certification,2014-12-22,2015-05-31,"Khan Enterprises, LLC",109 N. Highway 14-16,NaN,...,NaN,N,NaN,Gillette,WY,82716,N,Wyoming at Work,2564577,9/8/2014
1,H-400-13297-679503,2015-03-24,H-2B,2015-02-18,Certification,2015-04-01,2015-10-15,"EDD, LLC",489 A DEANNA LANE,NaN,...,NaN,Y,1.0,CHARLESTON,SC,29492,Y,SC Works Charleston SC Center,604182,2/6/2015
2,H-400-13310-940709,2015-01-23,H-2B,2015-01-06,Partial Certification,2015-04-01,2015-12-15,Brown's New Life Services LLC,"P. O. Box 734, Stuarts Draft, VA 24477 (mailing)",85 Shoffner Lane (physical),...,NaN,N,NaN,NaN,VA,NaN,NaN,VEC - Fishersville,507944,12/3/2014
3,H-400-13311-887843,2015-01-27,H-2B,2015-01-13,Certification,2015-04-01,2015-11-20,"UNITED SOCCER ACADEMY, INC.","12 MAIDEN LANE, SUITE 1",NaN,...,NaN,Y,24.0,NaN,NJ,NaN,NaN,Jobs4Jersey.com,125428,12/11/2014
4,H-400-13336-700772,2015-05-28,H-2B,2014-12-10,Withdrawn,2014-03-15,2014-12-15,LAWNS PLUS LLC,26242 EAST 121ST STREET,26242 EAST 121ST STREET,...,NaN,N,NaN,NaN,OK,NaN,NaN,OESC,1004311,11/15/2014

In [299]:
#df.info()

**1. How many requests did the Office of Foreign Labor Certification (OFLC) receive in 2015?**

In [300]:
df['CASE_NUMBER'].count()

6521

**2. How many jobs did that regard in total? And how many full time positions?**

In [301]:
df['NBR_WORKERS_REQUESTED'].sum()

126138

In [302]:
df.groupby('FULL_TIME_POSITION')['NBR_WORKERS_REQUESTED'].sum()

FULL_TIME_POSITION
N       287
Y    125794
Name: NBR_WORKERS_REQUESTED, dtype: int64

**3. How many jobs did the ETA National Processing Center actually certify?**

In [303]:
df['NBR_WORKERS_CERTIFIED'].sum()

101765

In [304]:
df.groupby('FULL_TIME_POSITION')['NBR_WORKERS_CERTIFIED'].sum()

FULL_TIME_POSITION
N         0
Y    101740
Name: NBR_WORKERS_CERTIFIED, dtype: int64

**4. What was the average pay?

In [305]:
df.groupby('BASIC_UNIT_OF_PAY')['PREVAILING_WAGE'].demean()

AttributeError: 'SeriesGroupBy' object has no attribute 'demean'

In [ ]:
df.groupby('BASIC_UNIT_OF_PAY')['BASIC_UNIT_OF_PAY'].count()

The majority of the jobs are payed hourly at an average rate of 12.65 $ an hour.

** 5. Who earned the least? And where are these people actually doing? **

In [ ]:
worst_wage = df[df['BASIC_UNIT_OF_PAY'] == 'Hour'].sort_values(by='PREVAILING_WAGE', ascending=True).head()

This table displays the lowest payed jobs for which no workers were certified.

In [ ]:
worst_wage[['BASIC_UNIT_OF_PAY', 'PREVAILING_WAGE', 'EMPLOYER_NAME', 'JOB_TITLE', 'WORKSITE_CITY', 'NBR_WORKERS_REQUESTED', 'NBR_WORKERS_CERTIFIED']]

In [ ]:
lowest_wages_accepted = df[df['NBR_WORKERS_CERTIFIED'] != 0].sort_values(by='PREVAILING_WAGE', ascending=True).head()

And this table shows that landscape laborers are the ones that are earning the least.

In [ ]:
lowest_wages_accepted[['BASIC_UNIT_OF_PAY', 'PREVAILING_WAGE', 'EMPLOYER_NAME', 'JOB_TITLE', 'WORKSITE_CITY', 'NBR_WORKERS_REQUESTED', 'NBR_WORKERS_CERTIFIED']]

**6. What was the most common unit of pay (daily, weekly, monthly)?**

In [ ]:
df.groupby('BASIC_UNIT_OF_PAY')['BASIC_UNIT_OF_PAY'].count()

**7. Work our total pay amount payed to H-2B laborers?**

In [ ]:
#df.groupby('BASIC_UNIT_OF_PAY')['PREVAILING_WAGE'].describe()
#df.groupby('PREVAILING_WAGE').count()

**Approx.** ####Count * Mean (Year, Week, Month, Hour(8)(33 Million, Bi-Weekly (180'000)#### 40 million $.

**8. Were there any foreign companies hiring foreign workers in the US? If yes, work out averages by nation.**

In [ ]:
df.groupby('EMPLOYER_COUNTRY')['EMPLOYER_COUNTRY'].count()

**9. Most common job title. Graph this.**

In [ ]:
#x = df.groupby('JOB_TITLE')['JOB_TITLE'].value_counts()
df['JOB_TITLE'].value_counts().head(10)

In [ ]:
plt.style.use('ggplot')
df['JOB_TITLE'].value_counts(ascending=True).tail(10).plot(kind='barh')
plt.savefig("Top_Jobs.svg")

In [ ]:
##Is there an efficient way for Pandas to clean the data? Merge "Landscape Laborer" with "LANDSCAPE LABORER" etc.?

**10. Which US states have the largest need for unskilled workers? Make a graph of this.**

In [ ]:
#x = df['EMPLOYER_STATE'].value_counts(ascending=False).head(10) * df['NBR_WORKERS_REQUESTED'].sum()
df['EMPLOYER_STATE'].value_counts(ascending=False).head(10).plot(kind='bar')
plt.savefig("semand_in_states.svg")

In [ ]:
#x = df['EMPLOYER_STATE'].value_counts(ascending=False).head(10) * df['NBR_WORKERS_REQUESTED'].sum()
df['EMPLOYER_STATE'].value_counts(ascending=True).head(10).plot(kind='bar')
plt.savefig("demand_in_states.svg")

In [ ]:
Workers_in_state_count = df.groupby('EMPLOYER_STATE')['NBR_WORKERS_REQUESTED'].sum()
Workers_in_state_count.sort_values(ascending=True).tail(10).plot(kind='barh', legend='NBR_WORKERS_REQUESTED')
plt.savefig("workers_requestet_in_states.svg")

**11. Which industries had the largest need?**

In [ ]:
#changing df['NAIC_CODE'] from non_null object into int

In [ ]:
#This .fillna(0.0) is magic. I found it here: 
#http://stackoverflow.com/questions/21291259/convert-floats-to-ints-in-pandas
#df['NAIC_CODE'] = df['NAIC_CODE'].fillna(0.0).astype(int)
#But it turns out, it only works for my one fill. Not on the other. Why?

Importing the NAIC_Codes from [here](http://www.census.gov/cgi-bin/sssd/naics/naicsrch?chart=2012).

In [ ]:
NAIC_CODEs = pd.read_excel("6-digit_2012_Code.xls")

In [ ]:
NAIC_CODEs.info()

In [ ]:
#Changing the NAIC_Codesfrom non-null object into float64

In [ ]:
#NAIC_CODEs['NAICS12'] = df['NAIC_CODE'].fillna(0.0).astype(int)

In [ ]:
NAIC_CODEs.head()

In [ ]:
#And now reimporting the original file.

In [ ]:
df = pd.read_excel("H-2B_Disclosure_Data_FY15_Q4.xlsx")

In [ ]:
#now in the NAIC_CODE is a Float64 in the cells we want to merge.

In [ ]:
df_merged = df.merge(NAIC_CODEs, how = 'left', left_on = 'NAIC_CODE', right_on ='NAICS2012')

In [ ]:
#df_merged.info()

In [ ]:
df_merged['Industry'].value_counts().head(10)

In [ ]:
workers_by_industry = df_merged.groupby('Industry')['NBR_WORKERS_REQUESTED'].sum()
workers_by_industry.sort_values(ascending=True).tail(10).plot(kind='barh', legend='NBR_WORKERS_REQUESTED')
plt.savefig("workers_by_industry.svg")

**12. Which companies had the largest need? Compare acceptance/denials of each company.**

In [ ]:
df['EMPLOYER_NAME'].value_counts().head(5)

In [ ]:
company_workers_demand = df.groupby('EMPLOYER_NAME')['NBR_WORKERS_REQUESTED'].sum()
company_workers_demand.sort_values(ascending=True).tail(10).plot(kind='barh')
plt.savefig("company_workers_demand.svg")

In [ ]:
company_workers_demand = df.groupby('EMPLOYER_NAME')['NBR_WORKERS_CERTIFIED'].sum()
company_workers_demand.sort_values(ascending=True).tail(10).plot(kind='barh')
plt.savefig("company_workers_demand.svg")

***BONUS*** Looking into [Silver Bay Seafoods](http://www.silverbayseafoods.com/about.html) and [UK International Soccer Campus](http://www.uksocca.com/).

Silver Bay's claim: [Silver Bays's "...primary strength is in its combination of having a state of the art processing plant and favorable logistics to support its operations; competent management and key personnel; an established fish buying system; and ownership by fishermen who represent over 80% of the committed fishing effort."] How much does the company pay it's workers on average?

In [ ]:
SILVER_BAY_SEAFOODS = df[df['EMPLOYER_NAME'] == 'SILVER BAY SEAFOODS, LLC']

In [ ]:
SILVER_BAY_SEAFOODS[['JOB_TITLE', 'PREVAILING_WAGE', 'HOURLY_WORK_SCHEDULE_AM', 'HOURLY_WORK_SCHEDULE_PM', 'OVERTIME_RATE_FROM', 'OVERTIME_RATE_TO', 'NATURE_OF_TEMPORARY_NEED', 'NBR_WORKERS_REQUESTED', 'NBR_WORKERS_CERTIFIED']]

In [ ]:
SOCCER_CAMPS = df[df['EMPLOYER_NAME'] == 'UK International Soccer Camps']
SOCCER_CAMPS[['JOB_TITLE', 'PREVAILING_WAGE', 'HOURLY_WORK_SCHEDULE_AM', 'HOURLY_WORK_SCHEDULE_PM', 'OVERTIME_RATE_FROM', 'OVERTIME_RATE_TO', 'NATURE_OF_TEMPORARY_NEED', 'NBR_WORKERS_REQUESTED', 'NBR_WORKERS_CERTIFIED']]